html, body{
    height: 100%;
}
body {
    color: #333;
    font-size: 14px;
    font-weight: 600;
}
a{
    color: #44c4c0;
}
/*----dashboard style----*/
.bg-primary {
    background: #908c8c;
    color: #FFF;
}

.panel-body {
    background: rgba(255,255,255,0.8);
    border-radius: 0px;
}
.create-button span{
    font-size:50px;
}
.img-responsive.list-img{
    width:50px;
    height: 50px;
}
.edit-img{
    height: 150px;
}
textarea.address{
    height: 150px;
}
ul.expense-cat.list-inline {
    margin-left: 5px !important;
}
ul.order-cat.list-inline {
    margin-left: 0px;
}
.dashboard-body{
    background:transparent;
}
.panel-default > .dashboard-heading.panel-heading {
    background-color:transparent;
    border-color:transparent;
    color:#fff;
    font-size:39px;
}
.date-filter {
    padding: 10px 0;
    overflow: hidden;
    background: rgba(255,255,255,0.5);
    color: #000;
    font-weight: bold;
    font-size: 25px;
}
.order-cat li a, .expense-cat li a {
    color: #000;
    font-weight: bold;
}
div#app {
    background: url(../img/flexerp_back.jpg)repeat scroll 0 0;
    min-height: 100%;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;
}
.table-bordered {
    border: 1px solid #333;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,0.5);
}
/*---pagination style -----*/
.pagination > li > a, .pagination > li > span {
    color: #fff;
    background-color: #44c4c0;
    border: 1px solid rgba(255,255,255,0.6);
}
/*---footer style -----*/
.created {
    color: #fff;
    margin-top: 20px;
}