html, body{
    height: 100%;
    margin:0;
}
body {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
a{
    color: #44c4c0;
}
pre {
    font-size: 15px;
    line-height: 1.6;
    background-color: transparent;
    border: 0px solid #ccc;
    font-family: inherit;
}
body .btn-primary {
    border-color: #44c4c0;
    background-color: #44c4c0;
    border-color: #44c4c0 #02615e #02615e #44c4c0;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.label{
    font-size: 15px;
    font-weight: bold;
    color: #333;
}
.task-submit{
    margin-top: 20px;
}
/*----Landing Page style----*/
.links{
    font-size: 30px;
}
.content .links a img {
    width: 150px;
    filter: drop-shadow(0px 0px 25px #fff);
    vertical-align: middle;
}
.content .links a:hover img{
    filter:grayscale(0%);
}
.footer-social {
    padding: 20px 0;
}
.footer-social a i {
    font-size: 20px;
    color: #333;
    padding: 15px 16px;
    background: #eee;
    margin-right: 10px;
    border-radius: 50%;
}
.title {
    font-size: 84px;
    font-weight: 600;
}
.footer-social a i.fa-facebook {
    padding: 15px 20px;
}
.title span {
    color: #44c4c0;
}

.title i.fa.fa-lock {
    color: #44c4c0;
}

.footer-social a:hover i {
    background: #44c4c0;
}
.footer-social a i.fa-linkedin{
    padding:15px 17px;
}
.footer-social a i.fa-github{
    padding:15px 17px;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    background: rgba(0,0,0,0.1);
}


/*----Header style----*/
a.navbar-brand {
    font-size: 30px;
}

a.navbar-brand span {
    color: #44c4c0;
}
.navbar {
    margin-bottom: 0px;
}

/*----sidebar style----*/
.sidebar .navbar-nav > li {
    float: none;
}
.sidebar .nav > li > a {
    color: #333;
}
.sidebar-section {
    margin-left: 0px;
    background: rgba(255,255,255,0.9);
    min-height: 755px;
    padding-left: 0px;
    padding-right: 0px;
}
.sidebar .navbar-nav {
    width: 100%;
}
.sidebar .dropdown-menu {
    position: relative;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
    width: 100%;
    margin-bottom: 10px;
}
/*----dashboard style----*/
.content {
    margin-top: 20px;
}

/*----dashboard style----*/
.bg-primary {
    background: #908c8c;
    color: #FFF;
}

.panel-body {
    background: rgba(255,255,255,0.8);
    border-radius: 0px;
}
.create-button span{
    font-size:35px;
}
.img-responsive.list-img{
    width:50px;
    height: 50px;
}
.edit-img{
    height: 150px;
}
textarea.address{
    height: 150px;
}
ul.expense-cat.list-inline {
    margin-left: 0px !important;
    background: rgba(255,255,255,0.7);
    padding: 5px;
}

ul.order-cat.list-inline {
    margin-left: 0px !important;
    background: rgba(255,255,255,0.7);
    padding: 5px;
}
ul.expense-cat li.list-group-item, ul.order-cat li.list-group-item{
    padding: 5px 15px;
    margin-bottom: 5px;
}
.dashboard-body{
    background:transparent;
}
.panel-default > .dashboard-heading.panel-heading {
    background-color:transparent;
    border-color:transparent;
    color:#fff;
    font-size:39px;
}
.date-filter {
    padding: 10px 0;
    overflow: hidden;
    background: rgba(255,255,255,0.5);
    color: #000;
    font-weight: bold;
    font-size: 25px;
}
.order-cat li a, .expense-cat li a {
    color: #000;
    font-weight: bold;
}
div#app1 {
    background: url(../img/flexerp_back.jpg)repeat scroll 0 0;
    min-height: 100%;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;
}
.table-bordered {
    border: 1px solid #333;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,0.5);
}
.table-striped > tbody > tr:nth-of-type(odd):hover{
    background-color: #f5f5f5;
}

/*---pagination style -----*/
.pagination > li > a, .pagination > li > span {
    color: #fff;
    background-color: #44c4c0;
    border: 1px solid rgba(255,255,255,0.6);
}
/*---footer style -----*/
.created {
    color: #fff;
    margin-top: 20px;
}

.chat-log {
    height: 500px;
    overflow: auto;
}
.completed-btn{
    margin-top: 20px;
}